*{
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

body{
	background-color: #2F4F4F;
	text-align: justify;
	word-break: break-all;
	color: #DCDCDC;
}

#wholewrapper{
	width: 960px;
	margin: 0 auto;
}

#headsec{
	height: 120px;
	border-bottom: #DCDCDC solid 1px;
	text-align: center;
}

h1{
	position: relative;
	top: 15px;
}

h2{
	margin-bottom: 12px;
	text-align: center;
}

h4{
	margin-bottom: 1rem;
	text-indent: 2rem;
	color: #FFDA89;
}

h5.pagetitle{
	position: relative;
	top: 30px;
	font-size: 1rem;
}

#realcontent{
	width: 100%;
}

#realcontentMain{
	float: left;
	width: 75%;
}

#innertext{
	width: 90%;
	margin: 0 auto;
}

article{
	margin-top: 30px;
	padding: 20px;
	border: #DCDCDC solid 1px;
}

p{
	margin-bottom: 1rem;
	font-size: 1rem;
	text-indent: 2rem;
}

code{
	color: #FFC0CB;
}

ul.codeUl li{
	text-indent: 2rem;
}

li{
	list-style-type: none;
}

article a{
	text-decoration: underline;
}

article img{
	display: block;
	margin: 0 auto;
}

article .toobig{
	width: 100%;
}

#realcontentAside{
	position: relative;
	top: 30px;
	width: 25%;
	float: right;
}

#navbar{
	width: 130px;
	margin: 0 auto;
}

#navbar.fixed{
	position: fixed;
	width: 130px;
	top: 30px;
	margin-left: 55px;
}

#navbar li{
	list-style-type: none;
	display: block;
	border: 1px solid #DCDCDC;
	line-height: 2rem;
	padding: 0.5rem;
	font-size: 0.875rem;
	text-align: center;
	-webkit-transition: background-color linear 0.4s;
	-moz-transition: background-color linear 0.4s;
	transition: background-color linear 0.4s;
}

#navbar a:hover, #navbar a:focus{
	font-weight: bold;
	color: #2F4F4F;
}

#navbar a:hover li, #navbar a:focus li{
	background-color: #DCDCDC;
}

#navbar li.bordernone{
	border-bottom: 0;
}

#banner{
	width: 960px;
	height: 40px;
	margin: 10px auto 0 auto;
	border-top: #DCDCDC solid 1px;
}

#bannerwrapper{
	width: 180px;
	height: 21px;
	margin: 10px auto;
}

#bannerwrapper span{
	display: inline-block;
	height: 21px;
}

#bannerwrapper span img{
	width: 30px;
	height: 21px;
}


#spanright{
	position: relative;
	float: right;
	bottom: 3px;
	height: 19px;
}

#spanright:hover a, #spanright:focus a{
	color: red;
}


.clearfix:after{
	display: block;
	height: 0;
	content: " ";
	visibility: hidden;
	clear:both;
}

a{
	text-decoration: none;
	color: #DCDCDC;
	-webkit-transition:color linear 0.4s;
	-moz-transition:color linear 0.4s;
	transition:color linear 0.4s;
}

/*Poem page*/
#poem article li{padding-left:3rem; list-style-type:none; color:#FFDA89; line-height: 3;}