			body{margin:0; line-height:1.7;}
			a{text-decoration:none;}
			#firsec{background-color:#DCDCDC; width:100%; height:95px; padding-top:5px;}
			#firsec .pagetitle{margin-left:50px; color:#2F4F4F}
			h1{margin-top:0;}
			h4{color:#FFDA89;}
			h5.pagetitle{margin-top:-10px;}
			#thirdbody{width:100%; color:#DCDCDC; background-color:#2F4F4F;}
			#thirdbodymain{position:relative; float:left; width:78%; min-height:500px; z-index:50;}
			#thirdbodymain h2{margin-top:1.5em;}
			#thirdbodymain p{font-size:1em; text-indent:2em; text-align:justify; text-justify:ideographic; word-break:break-all;}
			#thirdbodymain code{color:#FFC0CB;}
			#thirdbodymain a{color:#DCDCDC;text-decoration:underline;}
			#thirdbodymain img{display:block; margin:0 auto;}
			#thirdbodymain .toobig{width:100%;}
			#innertext{width:80%; margin:0 auto 0 50px;}
			#thirdbodyinfo{position:relative; float:left; width:22%; margin-top:1.5em;}
			#poem1 li{padding-left:3em; list-style-type:none; color:#FFDA89; line-height: 3;}
			#navbar{margin-left:-2em; margin-right:1em;}
			#navbarnav li{width:120px; list-style-type:none; display:block; border:1px solid #DCDCDC; line-height:2em; padding:0.5em; font-size:0.875em; text-align:center;}
			#navbarnav li.bordernone{border-bottom:0;}
			#navbarnav a{color:#DCDCDC;}
			#navbarnav li:hover, #navbarnav li:focus{font-weight:bold; background-color:#DCDCDC; color:#2F4F4F;}
			#signature{margin-left:1em; margin-right:3em; margin-top:3em;}
			#signature p{width:180px; color:#DCDCDC; font-family:"KaiTi";}
			.clear{clear:both;}
			#banner{background-color:#DCDCDC; height:33px; padding-top:15px; padding-bottom:0; color:#2F4F4F;}
			#banner h5{margin:0 auto 0 50px;}
			#banner div{position:relative; float:left;}
			#banner #email{position:relative; float:right; margin-right:3%; margin-top:-2px;}
			#banner #email a{color:#2F4F4F;}
			#banner #email:hover; #banner #email:focus{background-color:#2F4F4F; color:#DCDCDC;}